{% extends "base.html" %}

{% block content %}
  {% if user.is_staff %}
  <hr/>
  <div class="bottom-pad">
    <a class="button" href="/blog-new">New Post</a>
  </div>
  {% endif %}
  <section class="section">
    {% if count < 1 %}
      <div>
      No Blog Posts
      </div>
    {% else %}
      <b>Latest:</b><br/>
      {% for object in object_list %}
      <div class="box">
        <a href="{{ object.get_absolute_url }}">
          <p class="title">{{object.title}}</p>
        </a>
        <br/>
        <div class="content">
        {{object.content}}
        </div>
        <div class="level-left">
          <a class="level-item" aria-label="reply">
            <span class="icon is-small">
              <i class="fas fa-reply" ></i>
            </span>
          </a>
          <a class="level-item" aria-label="retweet">
            <span class="icon is-small">
              <i class="fas fa-retweet" ></i>
            </span>
          </a>
          <a class="level-item" aria-label="like">
            <span class="icon is-small">
              <i class="fas fa-heart" ></i>
            </span>
          </a>
        </div>
      </div>
      {% endfor %}
    {% endif %}
</section>
{% endblock %}
