{% extends "base.html" %}

{% block content %}
  {% if user.is_authenticated %}
  <div class="bottom-pad">
    <a class="button" href="/blog-new">New Post</a>
  </div>
  {% endif %}
  <h2 class="title">Blog</h2>
  <section class="section">
    
    {% if count < 1 %}
      <div>
      No Blog Posts
      </div>
    {% else %}
      {% for object in object_list %}
      <div>
        <a href="#">
        <p>{{object.title}}</p>
        </a>
      </div>
      {% endfor %}
    {% endif %}
</section>
{% endblock %}
