{% extends "base.html" %}

{% block content %}
  {% if user.is_authenticated %}
  <hr/>
  <div class="bottom-pad">
    <a class="button" href="/blog-new">New Post</a>
  </div>
  {% endif %}
  <section class="section">
    {% if count < 1 %}
      <div>
      No Blog Posts
      </div>
    {% else %}
      <b>Latest:</b><br/>
      {% for object in object_list %}
      <div class="box">
        <a href="{{ object.get_absolute_url }}">
          <p class="title">{{object.title}}</p>
        </a>
        <br/>
        <div class="content">
        {{object.content}}
        </div>
      </div>
      {% endfor %}
    {% endif %}
</section>
{% endblock %}
